<div class="box box-success">
    <div class="box-header ui-sortable-handle" style="cursor: move;">
        <h3 class="box-title">Top Users</h3>
      </div>
    <div class="box-body">
        <div class="input-group input-file" name="Fichier1">
            <input [ngModelOptions]="{standalone: true}" type="file" class="form-control" [(ngModel)]="data" (change)="onFileChange($event)" placeholder='Choose a file...' />
            <span class="input-group-btn">
                  <button class="btn btn-primary btn-reset" (click)="onUpload()" type="button">Upload</button>
            </span>
        </div>
        <div class ="row">
            <div class="col-lg-8">
              <div class="table-responsive" style="height: 300px;margin: 15px;">
                  <table class="table no-margin">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>User</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of data; let i = index">
                          <td>{{i + 1}}</td>
                        <td>{{item.top_users}}</td>
                      </tr>
                      </tbody>
                    </table>
              </div>
            </div>
            <div class="col-lg-4">
              <div>
                  <ul class="chart-legend clearfix" *ngIf="data.length > 0">
                      <li><i class="fa fa-circle text-red"> 1</i> {{data[0].top_users}}</li>
                      <li><i class="fa fa-circle text-green"> 2 </i> {{data[1].top_users}}</li>
                      <li><i class="fa fa-circle text-yellow"> 3 </i> {{data[2].top_users}}</li>
                      <li><i class="fa fa-circle text-aqua"> 4 </i> {{data[3].top_users}}</li>
                      <li><i class="fa fa-circle text-light-blue"> 5 </i> {{data[4].top_users}}</li>
                   </ul>
              </div>
            </div>
        </div>
      </div>
</div>
