<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <!-- ./col -->
      <div class="col-lg-12 col-xs-12">
        <!-- small box -->
            <form>
                <div class="form-group" style="text-align: left;margin-right: 14px;">
                  <div class="row">
                      <div class="col-lg-4 form-group">
                          <select placeholder='Period' [ngModelOptions]="{standalone: true}"  [(ngModel)]="period" class="form-control">
                            <option value="week">Week</option>
                            <option value="month">Month</option>
                          </select>
                        </div>
                      <div class="col-lg-8 input-group input-file" name="Fichier1">
                          <input [ngModelOptions]="{standalone: true}" type="file" class="form-control" [(ngModel)]="data" (change)="onFileChange($event)" placeholder='Choose a file...' />
                          <span class="input-group-btn">
                                <button class="btn btn-primary btn-reset" (click)="onUpload()" type="button">Upload</button>
                          </span>
                      </div>
                  </div>
                </div>
              </form>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-6 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
          <grafic-kip [loadGraphic]="loadGraphic"></grafic-kip>
        <!-- /.nav-tabs-custom -->
      </section>
      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->
      <section class="col-lg-6 connectedSortable">
        <!-- solid sales graph -->
       <grafic-retention [loadGraphic]="loadGraphic"></grafic-retention>
        <!-- /.box -->
      </section>
      <!-- right col -->
    </div>
    <!-- /.row (main row) -->

     <!-- Main row -->
     <div class="row">
        <!-- Left col -->
        <section class="col-lg-6 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
            <grafic-mau [loadGraphic]="loadGraphic"></grafic-mau>
          <!-- /.nav-tabs-custom -->
        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-6 connectedSortable">
            <!-- solid sales graph -->
          <grafic-heatmap [loadGraphic]="loadGraphic"></grafic-heatmap>
            <!-- /.box -->
          </section>
          <!-- right col -->
      </div>
      <!-- /.row (main row) -->

       <!-- Main row -->
     <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
            <grafic-layer [loadGraphic]="loadGraphic"></grafic-layer>
          <!-- /.nav-tabs-custom -->
        </section>
        <!-- /.Left col -->
      </div>
      <!-- /.row (main row) -->

      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- Custom tabs (Charts with tabs)
            <grafic-topusers></grafic-topusers>-->
          <!-- /.nav-tabs-custom -->
        </section>
        <!-- /.Left col -->
      </div>

  </section>
  <!-- /.content -->
</div>
